/* CSS Document */

body {
	background-color:#EFEFEF;
	font-family:"Trebuchet MS", sans-serif;
	}
	
a {
	text-decoration: none;
	color:#000000;
	}
	
a:hover {
	color:#666666;
	}

#main_container {
	width:600px;
	border: #000000 1px solid;
	margin: 0 auto;
	background-color:#FEFEFE;
	}
	
#header {
	height:174px;
	width:100%;
	background-image: url(assets/img/gin-banner.jpg);
	background-repeat: no-repeat;
	}
	
h1 {
	size:30px;
	float:right;
	vertical-align:middle;
	margin: 10px 20px 0 0;
	font-family: Impact, Arial, Helvetica, sans-serif;
	}
	
h2 {
	padding-left: 5px;
	margin: 5px 0px 0px 0px;
	}
	
p {
	size: 10px;
	margin:0px;
	padding:10px;
	text-align:justify;
	}


#navigation {
	width:100%;
	border-top:  #000000 1px solid;
	border-bottom: #000000 1px solid;
	text-align:center;
	}
#navigation a {
	padding:3px;
	}
	
#content {
	width:100%;
	}
	
#footer {
	width:100%;
	border-top:  #000000 1px solid;
	text-align:center;
	font-size:9px;
}

img {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

