
# Created by https://www.gitignore.io/api/osx,netbeans,vim

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
.nb-gradle/


### Vim ###
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~


*.phpintel*

2DAW/BackEnd/clases/JavaEE/RelacionServletsJsp/nbproject/private/
2DAW/BackEnd/clases/JavaEE/Ambitos/nbproject/private/
2DAW/BackEnd/clases/JavaEE/Formulararios/nbproject/private/private.xml
2DAW/BackEnd/clases/JavaEE/Servlets/nbproject/private/private.xml

/2DAW/BackEnd/clases/JavaEE/MostrarParticipantes/nbproject/private/
/2DAW/BackEnd/clases/JavaEE/Ejercicios_JSP_JavaBeans/nbproject/private/
/2DAW/BackEnd/clases/JavaEE/JavaJDBC/nbproject/private/
/2DAW/BackEnd/clases/JavaEE/JavaHibernate/nbproject/private/
/2DAW/BackEnd/clases/JavaEE/JavaHibernateJPA/nbproject/private/
/2DAW/BackEnd/clases/JavaEE/clasesPau/nbproject/private/
/2DAW/BackEnd/clases/JavaEE/JavaHibernateHQL/nbproject/private/
/2DAW/BackEnd/clases/JavaEE/ServletsEj2/nbproject/private/
/2DAW/BackEnd/clases/JavaEE/ServletsEj3/nbproject/private/
/2DAW/BackEnd/clases/JavaEE/JavaHibernateParametros/nbproject/private/
/2DAW/BackEnd/clases/JavaEE/JavaHibernateParametros2/nbproject/private/
/2DAW/BackEnd/clases/JavaEE/Validaciones/nbproject/private/
/2DAW/BackEnd/clases/JavaEE/SpringHibernateMVC/nbproject/private/
/2DAW/BackEnd/clases/JavaEE/JavaSpringHibernateMVC/nbproject/private/
/2DAW/BackEnd/clases/JavaEE/ChatBeans/nbproject/private/
/2DAW/BackEnd/clases/JavaEE/SpringHibernateTiendas/nbproject/private/


### idea ###

*idea
/2DAW/BackEnd/clases/JavaEE/JSP-Repaso/nbproject/private/
/2DAW/BackEnd/clases/JavaEE/FormularioJSPconBeans-Repaso/nbproject/private/
/2DAW/BackEnd/clases/JavaEE/RepasoServlets/nbproject/private/