/JAVA/ex7_2/nbproject/private/
/JAVA/ex7_2/build/
/JAVA/ex7_2/dist/
/JAVA/Ex7_3/nbproject/private/
/JAVA/Ex7_3/dist/
/JAVA/Ex7_3/build/
/JAVA/Ex7_4/nbproject/private/
/JAVA/Ex7_4/build/
/JAVA/Ex7_4/dist/
/JAVA/Matrices_EdgarSanchezHurtado/nbproject/private/
/JAVA/Matrices_EdgarSanchezHurtado/build/
/JAVA/Class Exercises/Lesson 8/exercise8_1/nbproject/private/
/JAVA/Class Exercises/Lesson 8/exercise8_1/build/
/JAVA/Class Exercises/Lesson 8/exercise8_1/dist/
/JAVA/NumerosEnLletres/edgarSanchezHurtadoNumerosEnLletra/nbproject/private/
/JAVA/NumerosEnLletres/edgarSanchezHurtadoNumerosEnLletra/build/
/JAVA/Class Exercises/Lesson 8/funcionRecursiva/subirEscaleras/nbproject/private/
/JAVA/Class Exercises/Lesson 8/funcionRecursiva/subirEscaleras/build/
/JAVA/EDTest/nbproject/private/
/JAVA/Minesweeper/nbproject/private/
/JAVA/Minesweeper/build/
/JAVA/RegistreNotes/nbproject/private/