<h2 id="port-name"></h2>
<div id="gallery-alert-icons" class="text-right">
    <!-- Gallery -->
    <!-- Alert -->
    <a id="alert" class="glyphicon glyphicon-warning-sign"
       data-ot=""></a>
</div>
<img id="img-altimetry" src="" style="clear: both;"/>
<table width="100%" border="1" cellspacing="5" cellpadding="5">
    <tr><th>Longitud</th><th>Altitud</th></tr>
    <tr></td><td id="port-length"></td><td id="port-altitud"></td></tr>
</table>
<br />
<div class="expandable">
    <a class="readmore-btn" onclick="return false">Información adicional</a>
    <div id="div-readmore" class="readmore">
    </div> <!-- End readmore -->
</div> <!--End expandable -->
